#idy
{
 background-color:black;
 color:white;
 text-align:center;
}
#id4
{
 font-size:20;
}	
.c
{
text-decoration:none;
color:white;	
font-size:20;
}
.d
{
	font-size:20;
}
.club
{
	text-align:center;
	font-size:40;
}
.veda
{
font-size:40;
margin-top:3%;
text-align:center;
}
#id1
{	
 text-indent:20px;
 font-size:20;
 margin-top:20px;
 }